@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

html, body, head, p, ul, li, a, h1, h2, h3, h4 ,h5, h6 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Montserrat';
  text-decoration: none;
  list-style: none;
}

.wrapper {
  min-width: 1200px;
  width: 100%;
}

.page {
  width: 100%;
}

.backimg {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.header {
  min-width: 1200px;
  max-height: 120px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(94, 93, 88, 0.6);
}

.header-row {
  margin: 0 auto;
  display: flex;
  max-width: 1160px;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  padding: 26px 0;
}

.header-logo-back {
  width: 58px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  background-image: url(img/logo-back.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.header-logo-text {
  margin-top: 8px;
  margin-left: 6px;
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  transition: 1s;
}

.header-logo-text-green {
  color: #18CFAB;
  font-weight: 700;
}

.logo:hover .header-logo-text {
  color: #18CFAB;
}

.logo:hover .header-logo-text-green {
  color: #FFF;
}

/* MENU */

.header-menu {
  padding-top: 45px;
  height: 100%;
  display: flex;
}

.menu-item {
  height: 100%;
  color: rgba(255, 255, 255, 0.60);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 10px;
  position: relative;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item-text::after {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 50%;
  width: 0%;
  height: 2px;
  background: #00000000;
  transition: background 0.5s, width 0.5s, left 0.5s;
}

.menu-item-text:hover {
  color: #18CFAB;
}

.menu-item-text:hover::after {
  width: 100%;
  left: 0;
  background: #18cfab;
}

.search {
  position: relative;
}

.search-box {
  height: 100%;
}

.search-icon {
  width: 21px;
  height: 20px;
}

.search-icon:hover path {
  fill: #18CFAB;
}

.search-box::after {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 50%;
  width: 0%;
  height: 2px;
  background: #00000000;
  transition: background 0.5s, width 0.5s, left 0.5s;
}

.search-box:hover::after {
  width: 100%;
  left: 0;
  background: #18cfab;
}

.main-list {
  max-width: 1160px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 265px;
}

.main-list-under-title {
  color: #FFF;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.main-list-under-title-green {
  color: #18CFAB;
}

.main-title {
  color: #FFF;
  text-align: center;
  font-size: 78px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.main-list-sub-title {
  color: #D4D4D4;
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
}

.button-row {
  display: flex;
  margin-top: 130px;
  text-align: center;
  justify-content: center;
}

.main-list-btn-explore {
  padding: 16px 17px;
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  background-color: #18CFAB;
  box-shadow: 0px -5px 0px #fff;
  margin-right: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.main-list-btn-purchase {
  padding: 16px 17px;
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  background-color: #00CBF6;
  box-shadow: 0px -5px 0px #fff;
  margin-right: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.main-list-btn-explore:hover {
  background-color: #00CBF6;
}

.main-list-btn-purchase:hover {
  background-color: #18CFAB;
}

/* CARD  */

.card-box {
  margin-top: 243px;
  min-width: 1200px;
  display: flex;
}

.card {
  width: 25%;
  background-color: #1C2A33;
  text-align: center;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 110px;
}

.card-light {
  width: 25%;
  background-color: #18CFAB;
  text-align: center;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 90px;
}

.card-title {
  margin-top: 48px;
  color: #18CFAB;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.card-title-light {
  margin-top: 48px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

/* OUR SERVICE */

.our-service {
  min-width: 1200px;
  background-color: #FFF;
  padding-bottom: 90px;
}

.our-service-box {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 90px;
}

.our-service-title {
  text-align: center;
  color: #4E4E4E;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  position: relative;
  margin-bottom: 100px;
}

.our-service-title::before,
.our-service-title::after {
  content: '';
  position: absolute;
  bottom: -26px;
  left: 50%;
  height: 2px;
  width: 78px;
  background: #18cfab;
  transform: translateX(-60%);
}

.our-service-title::before {
  bottom: -34px;
  right: 50%;
  left: unset;
  transform: translateX(60%);
}

.our-service-menu {
  display: flex;
  max-width: 1160px;
  width: 100%;
  justify-content: center;
}

.tabs-nav__item {
  position: relative;
  padding: 17px 34px;
  background-color: #EDEFEF;
  color: #717171;
  text-align: center;
  font-size: 15.986px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.986px;
  border: 1px solid #EDEFEF;
  transition: 0.5s;
  cursor: pointer;
}

.tabs__nav{
  display: flex;
  margin-bottom: 25px;
}

.tabs-nav__item:hover {
  border: 1px solid #18CFAB;
}

.tabs-nav__item.is-active{
  border: 1px solid #18cfab;
  background: #18cfab;
  color: #fff;
}

.tabs-nav__item.is-active::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: -29px;
  border: 0;
  border: 15px solid transparent;
  border-top: 15px solid #18cfab;
}

.our-service-content-system {
  margin-top: 25px;
}

.tab {
  max-width: 1160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  transition: all ease 0.9s;
  opacity: 0;
  display: none;
  padding-top: 40px;
  color: #777;
  font-size: 13.645px;
  font-style: normal;
  font-weight: 300;
  line-height: 24.366px;
}

.tab.is-active {
  opacity: 1;
  display: flex;
  padding-top: 0;
}


.our-service-img {
  width: 192px;
  margin-right: 15px;
}

/* APP BUNER   */

.app-buner {
  min-width: 1200px;
  justify-content: center;
  align-items: center;
}

.app-buner-back {
  background-image: url(img/background-photo/bg2.png);
  width: 100%;
  margin: 0 auto;
}



.app-buner-content-box {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  padding-top: 125px;
  padding-bottom: 127px;
}

.app-buner-title {
  color: #18CFAB;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40.455px;
  text-transform: uppercase;
}

.app-buner-sub-title {
  color: #D8D8D8;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.app-buner-btn {
  width: 170px;
  height: 60px;
  font-size: 15px;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  position: relative;
  box-shadow: 0px -5px 0px #fff;
  background-color: #18CFAB;
  border: none;
  margin-top: 60px;
  transition: 0.5s;
}

.app-buner-btn:hover {
  background-color: #00CBF6;
}

/*  OUR AMAZING WORK */

.our-amazing-work {
  min-width: 1200px;
  background-color: #E9EDEF;
}

.our-amazing-work-container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  padding-top: 95px;
  padding-bottom: 100px;
}

.our-amazing-work-title {
  color: #4E4E4E;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  position: relative;
  margin-bottom: 100px;
}

.our-amazing-work-title::before,
.our-amazing-work-title::after {
  content: '';
  position: absolute;
  bottom: -26px;
  left: 50%;
  height: 2px;
  width: 78px;
  background: #18cfab;
  transform: translateX(-60%);
}

.our-amazing-work-title::before {
  bottom: -34px;
  right: 50%;
  left: unset;
  transform: translateX(60%);
}

.work-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.work-list-item {
  padding: 21px 15px;
  background-color: #F8FCFE;
  border: 1px solid #EDEFEF;
  color: #717171;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  min-width: 80px;
  justify-content: center;
}

.work-list-item:hover, .work-list-item.active {
  border: 1.5px solid #18CFAB;
}

.work-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 70px;
}

.work-blocks-row {
  display: flex;
  align-items: center;
}

.work-blocks-row.inactive {
  display: none;
}

.work-blocks-item {
  display: inline-block;
  width: 285px;
  height: 206px;
  overflow: hidden;
  position: relative;
}

.work-blocks-item-details {
  width: 100%;
  height: 100%;
  background-color: #E9EDEF;
  border-top: 2px solid #18CFAB;;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  color: #FFF;
  display: none;
  text-align: center;
}

.work-blocks-item:hover .work-blocks-item-details {
  display: inline-block;
  top: 0;
  left: 0;
}

.item-details-links {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.item-link {
  border: 1px solid #18CFAB;
  border-radius: 30px;
  padding: 12px;
  width: 40px;
  height: 40px;
  margin-right: 3px;
}

.item-link:hover {
  background-color: #18CFAB;
}

.icon-chain {
  background-image: url(img/icon-chain.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-chain:hover {
  background-image: url(img/icon-chain-white.svg);
}

.item-link > span {
  width: 13px;
  height: 13px;
  border: 2px solid #18CFAB;
  margin-top: 12px;
  display: inline-block;
}

.item-link:hover > span {
  background-color: #FFF;
  border: none;
  width: 13px;
  height: 13px;
}

.item-details-title {
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #18CFAB;
  margin-top: 40px;
}

.item-details-subtitle {
  font-weight: 300;
  font-size: 12px;
  color: #8A8A8A;
  margin-top: 13px;
}

.button-load {
  background: #18CFAB;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFF;
  display: inline-block;
  min-width: 168px;
  padding: 22px 0 22px 22px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.button-load:before {
  content: '+';
  position: absolute;
  left: 22px;
  font-size: 25px;
}

/* BREACKING-NEWS */

.breaking-news {
  min-width: 1200px;
  background-color: #FFF;
}

.breaking-news-container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;;
  padding-top: 80px;
  padding-bottom: 130px;
}

.breaking-news-title {
  color: #4E4E4E;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  position: relative;
  margin-bottom: 100px;
}

.breaking-news-title::before,
.breaking-news-title::after {
  content: '';
  position: absolute;
  bottom: -26px;
  left: 50%;
  height: 2px;
  width: 78px;
  background: #18cfab;
  transform: translateX(-60%);
}

.breaking-news-title::before {
  bottom: -34px;
  right: 50%;
  left: unset;
  transform: translateX(60%);
}

.breaking-news-boxs {
  display: grid;
  grid-template-rows: 280px 280px;
  grid-template-columns: 265px 265px 265px 265px;
  gap: 33px;
}

.breaking-news-box {
  position: relative;
}

.breaking-news-box-date {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 68px;
  background-color: #203E38;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  padding: 10px 0;
  text-align: center;
  transition: 0.5s;
}

.breaking-news-img {
  width: 100%;
}

.breaking-news-box-title {
  margin-top: 20px;
  text-align: center;
  color: #717171;
  font-size: 17.988px;
  font-style: normal;
  font-weight: 700;
  transition: 0.5s;
}

.breaking-news-box-text {
  margin-top: 15px;
  color: #777;
  text-align: center;
  font-size: 13.991px;
  font-style: normal;
  font-weight: 300;
}

.breaking-news-box:hover .breaking-news-box-date {
  background-color: #18CFAB;
}

.breaking-news-box:hover .breaking-news-box-title {
  color: #18CFAB;
}

/* ABOUT US */

.about-us {
  background-image: url(img/background-photo/section-3.jpg);
  min-height: 852px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #2e4a5b83;
  background-blend-mode: multiply;
  }

.about-us-wrapper {
  padding-top: 100px;
}

.about-us-title {
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  position: relative;
  margin-bottom: 100px;
}

.about-us-title::before,
.about-us-title::after {
  content: '';
  position: absolute;
  bottom: -26px;
  left: 50%;
  height: 2px;
  width: 78px;
  background: #18cfab;
  transform: translateX(-60%);
}

.about-us-title::before {
  bottom: -34px;
  right: 50%;
  left: unset;
  transform: translateX(60%);
}
  
  .text-description {
    color: #bbbbbb;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    padding-top: 43px;
    margin-bottom: 50px;
  }
  .text-description::before {
    content: "\275B \275B";
    color: #18cfab;
    display: block;
    font-size: 125px;
    padding: 25px;
  }
  .team-member {
    text-align: center;
  }
  .member-name {
    color: #18cfab;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  .member-position {
    color: #bbbbbb;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 37px;
  }
  .member-photo {
    margin: 0 auto;
    display: block;
    width: 143px;
    height: 142px;
    border: 2px solid #18cfab;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 11px rgba(24,207,171,0.27);
  }
  .member-slider {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    position: relative;
    padding-bottom: 104px;
  }
  .slider-photo {
    width: 59px;
    height: 59px;
    border: 2px solid transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px rgba(24,207,171,0.27);
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.4s ease-in-out;
  }
  .slider-photo.active {
    top: -25px;
    border-color: #18cfab;
  }
  .slider-arrow {
    padding-left: 10px;
    border: 1px solid grey;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    text-decoration: none;
    color: grey;
    font-weight: 700;
    font-size: 20px;
  }
  .slider-arrow:hover {
    background-color: #18cfab;
    border-color: #18cfab;
    color: white;
    cursor: pointer;
  }
  .slider-arrow.left {
    left: 360px;
  }
  .slider-arrow.right {
    right: 380px;
  }

/* FOOTER */

.footer {
  min-width: 1200px;
  background-color: #22353F;
}

.footer-wrapper {
  max-width: 1160px;
  width: 100%;
  padding: 48px 0;
  margin: 0 auto;
}

.footer-text {
  text-align: center;
  color: #AEAEAE;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}

.footer-text-green {
  color: #18CFAB;
}